
<div class="w3-container w3-margin-bottom">
  <h1>Usuarios</h1>
  <p>Relación de usuarios de la aplicación</p>

  <p *ngIf="!usuarios"><em>Cargando...</em></p>

  <table *ngIf="usuarios" class="w3-table-all">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nif</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario._id }}</td>
        <td>{{ usuario._nif }}</td>
        <td>{{ usuario._nombre }}</td>
        <td>{{ usuario._descripcion }}</td>
        <td>{{ usuario._fechaDeAlta | datePart }}</td>
      </tr>
    </tbody>
  </table>

</div>




