
<div class="w3-container w3-margin-bottom">
  <h1>Usuarios</h1>
  <p>Relación de usuarios de la aplicación</p>

  <p *ngIf="!usuarios"><em>Cargando...</em></p>

  <app-table-header [pagination]="paginationInfo" (onAction)="doAction($event)"></app-table-header>
  <table *ngIf="usuarios" class="w3-table-all">
    <thead>
      <tr (click)="doSort($event)">
        <th style="width:1%;"></th>
        <th class="w3-hover-gray sorteable">Id</th>
        <th class="w3-hover-gray sorteable">Nif</th>
        <th class="w3-hover-gray sorteable">Nombre</th>
        <th class="w3-hover-gray sorteable">Descripción</th>
        <th class="w3-hover-gray sorteable">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of paginationInfo.visibleItems; let i = index" id="row-{{usuario._id}}">
        <td class="w3-border-right">
          <input type="checkbox" [ngModel]="usuario.__checked" (click)="doAction({ name : 'check-item', data : i})" />
        </td>
        <td><a [routerLink]="" (click)="doAction({ name : 'edit-row', data : usuario._id })">{{ usuario._id }}</a></td>
        <td>{{ usuario._nif }}</td>
        <td>{{ usuario._nombre }}</td>
        <td>{{ usuario._descripcion }}</td>
        <td>
          {{ usuario._fechaDeAlta | datePart }}
          <button title="Añadir a favoritos" class="fa fa-star" style="float:right" (click)="doAddToFavorites($event)"></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<form id="usuario-edit-dialog" class="" style="display:none">
  <label for="txt-id">Id</label>
  <input id="txt-id" type="text" class="w3-input w3-border w3-round" readonly [ngModel]="current._id" [ngModelOptions]="{standalone: true}" /><br />
  <label for="txt-nif">Nif</label>
  <input id="txt-nif" type="text" class="w3-input w3-border w3-round" [ngModel]="current._nif" [ngModelOptions]="{standalone: true}" /><br />

  <label for="txt-nombre">Nombre</label>
  <input id="txt-nombre" type="text" class="w3-input w3-border w3-round" [ngModel]="current._nombre" [ngModelOptions]="{standalone: true}" /><br />
  <label for="txt-descripcion">Descripción</label>
  <input id="txt-descripcion" type="text" class="w3-input w3-border w3-round" [ngModel]="current._descripcion" [ngModelOptions]="{standalone: true}" /><br />
</form>



