
<div class="w3-container w3-teal">
  <h1>Angular App</h1>
</div>

<app-menu></app-menu>

<router-outlet></router-outlet>

<div class="w3-container w3-teal w3-center">
  <footer>
    <p>&copy; All rights reserved for <i>Angular App</i> 2020</p>
  </footer>
</div>

<div id="dialog-container" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px">

    <div class="w3-container" style="padding:0px">
      <span class="js-title w3-large w3-left" style="padding:6px"></span>
      <span class="js-close-button w3-button fa fa-times w3-xlarge w3-hover-red w3-right" title="Cerrar"></span>
    </div>

    <div class="js-content w3-container w3-border-top w3-padding-16">
    </div>

    <div class="w3-container w3-border-top w3-center w3-light-grey" style="padding:8px">
      <button type="button" class="js-accept-button w3-button w3-white w3-border">Aceptar</button>      
    </div>

  </div>
</div>


