
<div class="w3-container w3-margin-bottom">
  <h1>Vehículos</h1>
  <p>Relación de vehículos</p>

  <p *ngIf="!vehiculos"><em>Cargando...</em></p>

  <table *ngIf="vehiculos" class="w3-table-all">
    <thead>
      <tr>
        <th>Id</th>
        <th>Matrícula</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <td>{{ vehiculo.id }}</td>
        <td>{{ vehiculo.matricula }}</td>
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.fechaDeAlta | datePart }}</td>
      </tr>
    </tbody>
  </table>

</div>




